<% content_for :head do %>
  <title>Authentication Required</title>
<% end %>

<div class="max-w-6xl h-full w-full flex-grow flex flex-col items-center justify-center mx-auto py-16 px-4 relative">
    <div class="text-center mb-12">
        <span class="text-8xl">🔒</span>
    </div>
    <h1 class="text-6xl text-center font-semibold text-slate-800 dark:text-slate-100 leading-relaxed">Authentication Required</h1>
    <p class="text-center text-slate-700 dark:text-slate-300 my-4">Please access the help center from your account.</p>
</div>

